<body>
<div class="outer-wrapper">
    <%= render partial: "head" %>
    <br><br>
    <div class="container">
        <div class="content">
        <% @every_youtubecreator.each do |youtube| %>
        <figure class="snip1344">
            <img src="http://www.walls321.com/reimg/image.php?src=http://img.walls321.com/images1/y1k1ytl2kzg.jpg&h=1334&w=750"  alt="profile-sample1" class="background"/>
            <img src="<%=youtube.imagesrc%>" alt="profile-sample1" class="profile"/>
          <figcaption>
            <h3><%=youtube.name%></h3>
                <form action="/home/youtubelist/<%=youtube.id%>" method="POST">
                <input type="hidden" value="<%=youtube.name%>" name="youtubename">
                <button class="btn btn-default btn-xs" type="submit">영상보러가기</button>
                <input onclick="change()" type="button" value="구독" id="<%=youtube.id%>"></input>
                </form>
                
                <script>
                function change() // no ';' here
                {
                    var elem = document.getElementById("<%=youtube.id%>");
                    if (elem.value=="구독중") elem.value = "구독";
                    else elem.value = "구독중";
                }
                </script>
          </figcaption>
        </figure>
       <% end %>

           
        
        
        
        
        
        
                
       <br><br><br><br><br><br><br><br><br><br><br><br> 
        <div class="flickr_pagination" style="text-align: center;">
          <%= will_paginate @every_youtubecreator  %>
        </div>
    <div class="space50"></div>
    </div>
</div>     
    <%= render partial: "down" %>   
</body>

