<body>
<div class="outer-wrapper">
    <%= render partial: "head" %>
    <br><br>
    
        
    <div class="container">
        <h2>구독중인 유투버</h2>
            <div class="content">
            <% @selete_youtubecreator.each do |every| %>
                <% if user_signed_in? && every.subscribes.where(youtuberinfo_id: every.id, user_id: current_user.id).present? %>        
                    <figure class="snip1344">
                        <img src="http://www.walls321.com/reimg/image.php?src=http://img.walls321.com/images1/y1k1ytl2kzg.jpg&h=1334&w=750"  alt="profile-sample1" class="background"/>
                        <img src="<%=every.imagesrc%>" alt="profile-sample1" class="profile"/>
                      <figcaption>
             
                        <h3><%=every.name%></h3>
                            <form action="/home/youtubelist/<%=every.id%>" method="POST">
                            <input type="hidden" value="<%=every.name%>" name="youtubename">
                                <button class="btn btn-default btn-xs" type="submit">영상보러가기</button>
                            </form>
                            <form action="/home/subscribe/<%=every.id%>" method="POST">
                                <button class="btn btn-default btn-xs" type="submit">구독취소</button>
                                <p>구독자수 <%= every.subscribes.all.count %></p>
                            </form>
                      </figcaption>
                    </figure>
                <% end %>
            <% end %>
           <br><br> 

        <div class="space50"></div>
        </div>           
    </div>
    
    
    <div class="container">
        <% @every_user.each do |iamyoutuber|%>
            <div class="static">
            
            <% @every_youtubecreator.each do |youtube| %>
                <img src="<%=youtube.imagesrc%>" alt="profile-sample1" class="profile"/>
                <h1><%=youtube.name %></h1>
            <% end %>
                
                    <h4>동영상 개수 <%=@youtube_count%></h4>
                
                    <h5>구독자 수</h5>
                    <form action="/home/url_upload" method="POST">
                    <button class="btn btn-default" type="submit">동영상 업로드 하기</button>
                    </form>
            </div>
           
            <div class="container home-blog padding80">
                 <H2>동영상 목록</H2>
                     <div class="row">
                       <% @test.each do |youtube| %>
                        <%if  youtube.name == current_user.user_name %>
                        <div class="col-md-4">
                           <div class="hb-info text-center">
                              <div class="hb-thumb">
                              <iframe width="560" height="315" src="<%=youtube.url%>" frameborder="0" allowfullscreen></iframe>
                              <h5><%=youtube.title%></h5>
                              </div>
                           </div>
                        </div>
                        <% end %>
                        <% end %>
                     </div>
             </div>
        <% end %>
        
        
         <div class="flickr_pagination" style="text-align: center;">
            <%= will_paginate @test %>
         </div>
         <div class="space50"></div>
    </div>
</div>
          
    <%= render partial: "down" %>   
</body>