<style>
button {
	position:relative;
	border:0;
	margin:0;
	padding:0;
	font-size:2rem;
	font-weight:bold;
	color:rgba(0,0,0,0);
	background:transparent;
	border-radius:.25rem;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
}

button,
button:after,
button:before {
	padding:.6875rem 2rem;
	-webkit-transition:-webkit-transform 0.75s,background-color .125s;
	-moz-transition:-moz-transform 0.75s,background-color .125s;
	-ms-transition:-ms-transform 0.75s,background-color .125s;
	transition:transform 0.75s,background-color .125s;
	-webkit-transform-style:preserve-3d;
	-moz-transform-style:preserve-3d;
	-ms-transform-style:preserve-3d;
	transform-style:preserve-3d;
}

button:after,
button:before {
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	border-radius:.25rem;
	-webkit-backface-visibility:hidden;
	-moz-backface-visibility:hidden;
	-ms-backface-visibility:hidden;
	backface-visibility:hidden;

}

button:before {
	z-index:2;
	color:#fff;
	background-color:#3e87ec;
	content:attr(data-label);
}

button:after {
	z-index:1;
	background-color:#999;
	background-repeat:no-repeat;
	background-position:center center;
	background-image:url(data:image/gif;base64,R0lGODlhEAAQAPIAAJmZmf///7CwsOPj4////9fX18rKysPDwyH+GkNyZWF0ZWQgd2l0aCBhamF4bG9hZC5pbmZvACH5BAAKAAAAIf8LTkVUU0NBUEUyLjADAQAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQACgABACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkEAAoAAgAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkEAAoAAwAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkEAAoABAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQACgAFACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQACgAGACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAAKAAcALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==);
	-webkit-transform:rotateX(180deg);
	-moz-transform:rotateX(180deg);
	-ms-transform:rotateX(180deg);
	transform:rotateX(180deg);
	content:'';
}

button:active:before {
	background-color:#3571c8;
}

button.loading {
	-webkit-transform:rotateX(180deg);
	-moz-transform:rotateX(180deg);
	-ms-transform:rotateX(180deg);
	transform:rotateX(180deg);
}
</style>

<body>
<div class="outer-wrapper">
    <%= render partial: "head" %>
    <br><br>
    <div class="container">
         <div class="container home-blog padding80">
                 <div class="row">
                    <div class="col-md-5">
                       <div class="hb-info text-center">
                          <div class="hb-thumb">
                          <iframe width="580" height="315" src="<%=@url%>" frameborder="0" allowfullscreen></iframe>
                          <h5><%=@title%></h5><br><br>
                          <h3>사용 제품 목록</h3>
                          <div class="row">
                          <textarea name="cosmetic" rows="1" id="content" style=" width:200px; height :30px; " readonly="readonly"><%=@product1%></textarea>
                          <button type="submit" class="reply_submit" style="margin-left : 30px; font-size : 15px; margin-top:0px;" data-label="최저가">최저가</button>
                          </div>
                          </div>
                       </div>
                    </div>
                    
                    <div class="col-md-3">
                    </div>
                    
                    <div class="col-md-4">
                    <div class="row">
                    <button data-label="네이버 쇼핑 최저가">네이버 쇼핑 최저가</button>
                    </div><br><br>
                    
                    <% @list.last(1).each do |x|%>
                    <%=x.cosmetic%>
                    <%end%>
                    </div>
                 </div>
         </div>
        <br><br><br><br><br><br><br><br><br><br><br><br> 
   <div class="space50"></div>
    </div>
</div>

    <%= render partial: "down" %>   
</body>

<script>
$(".reply_submit").click(function(){

   post_content = $("#content").val();
 
    $.ajax({
    method: "POST",
    url: "/home/myproduct_api",
    data: { cosmetic : post_content }
    })
    .done(function() {
    alert("네이버 쇼핑으로 연결합니다.");
    });
});
</script>